$sidebarWidth: 70px;
$sidebarExpandedWidth: 250px;
$adminSidebarWidth: 0px;
$assessmentsidebarWidth: 30px;
$assessmentsidebarExpandedWidth: 350px;
$adminSidebarExpandedWidth: 390px;
$topRibbonHeight: 75px;
// $headerHeight: 248px;
$headerHeight: 175px;
$assessmentheaderHeight: 0px;
// $adminSidebarWidth: 0px;
// $adminSidebarExpandedWidth: 450px;
$adminHeaderHeight: 0px;


:export {
  sidebarWidth: $sidebarWidth;
  sidebarExpandedWidth: $sidebarExpandedWidth;
  assessmentsidebarWidth: $assessmentsidebarWidth;
  assessmentsidebarExpandedWidth: $assessmentsidebarExpandedWidth;
  topRibbonHeight: $topRibbonHeight;
  headerHeight: $headerHeight;
  assessmentheaderHeight: $assessmentheaderHeight;
  adminSidebarWidth: $adminSidebarWidth;
  adminSidebarExpandedWidth: $adminSidebarExpandedWidth;
  adminHeaderHeight: $adminHeaderHeight;
}
