$sidebarWidth: 70px;
$sidebarExpandedWidth: 250px;
$adminSidebarWidth: 0px;
$adminSidebarExpandedWidth: 390px;
$topRibbonHeight: 75px;
// $headerHeight: 248px;
$headerHeight: 175px;
$adminHeaderHeight: 0px;


:export {
  sidebarWidth: $sidebarWidth;
  sidebarExpandedWidth: $sidebarExpandedWidth;
  adminSidebarWidth: $adminSidebarWidth;
  adminSidebarExpandedWidth: $adminSidebarExpandedWidth;
  topRibbonHeight: $topRibbonHeight;
  headerHeight: $headerHeight;
  adminHeaderHeight: $adminHeaderHeight;
}
