$sidebarWidth: 70px;
$sidebarExpandedWidth: 250px;
$topRibbonHeight: 75px;
// $headerHeight: 248px;
$headerHeight: 175px;

:export {
  sidebarWidth: $sidebarWidth;
  sidebarExpandedWidth: $sidebarExpandedWidth;
  topRibbonHeight: $topRibbonHeight;
  headerHeight: $headerHeight;
}
